*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

ol,ul,li{
    list-style: none;
}

.container{
    width: 800px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-direction: row;
}

/* nav section */
header li{
    display: inline;
    color: white;
}

header.container{
    background-color: rgb(228, 103, 57);
}

header .row{
    justify-content: space-around;
    align-items: center;
}

.logo{
    width:100px;
    padding: 10px 0;
}
/* nav section */

/* main section */
main .row{
    flex-wrap: wrap;
}

.col-4{
    flex-basis: calc(100% / 3);
    padding: 50px 10px;
}

.col-4 img{
    max-width: 100%;
    
}

.list-pic{
    position: relative;
}

.square{
    line-height: 15px;
    color: white;
    font-size: 8px;
    padding: 0 7px;
    position: absolute;
    bottom: 30px;
}

.red-square{
    background-color: red;    
}

.green-square{
    background-color: green;
    left: 35px;
}

.last-green-square{
    background-color: green; 
}

.wishlist-badge{
    position: absolute;
    background-color: white;
    top: 10px;
    right: 0px;
    padding: 5px 10px;
    font-size: 20px;
}

.wishlist-badge:hover{
    color: red;
}

.brand{
    color: grey;
    font-size: small;
}

.item{
    font-weight: 800;
}

.price{
    font-size: small;
    color: red;
}

.old-price{
    color: grey;
    font-size: small;
    text-decoration: line-through;
}

.figure:hover .img-hover{
    opacity: 1;
}

.figure .img-hover{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;   
}

.figure{
    position: relative;
    max-width: 100%;
}