*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

body{
    position: relative;
}

ol,ul,li{
    list-style: none;
}

.container{
    width: 800px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-direction: row;
}

/* nav section */
header li{
    display: inline;
}

.white-text{
    color: white;
    font-size: 12px;
}

.viewport-container{
    background-color: #FF6900;
    width: 100vw;
    position: sticky;
    z-index: 999;
    top: 0;
}

header .row{
    justify-content: space-between;
    align-items: center;
}

main .row{
    margin-top: 30px;
}

.logo{
    width:100px;
    padding: 10px 0;
}
/* nav section */

/* main section */
main .row{
    flex-wrap: wrap;
}

.col-4{
    flex-basis: calc(100% / 3);
    padding: 20px 10px;
}

.col-4 img{
    max-width: 100%;
    
}

.list-pic{
    position: relative;
}

.square{
    line-height: 15px;
    color: white;
    font-size: 8px;
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
}

.red-square{
    background-color: red;
    padding: 0 10px;    
}

.green-square{
    background-color: green;
    padding: 0 5px;
}

.last-green-square{
    background-color: green; 
}

.wishlist-badge{
    position: absolute;
    background-color: white;
    top: 10px;
    right: 0px;
    padding: 5px 10px;
    font-size: 20px;
}

.wishlist-badge:hover{
    color: red;
}

.brand{
    color: grey;
    font-size: small;
}

.item{
    font-weight: 800;
}

.price{
    font-size: small;
    color: red;
}

.old-price{
    color: grey;
    font-size: small;
    text-decoration: line-through;
}

.figure:hover .img-hover{
    opacity: 1;
}

.figure .img-hover{
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.5s;   
}

.figure{
    position: relative;
    max-width: 100%;
}
/* main section */

/* footer */
footer .row{
    justify-content: space-between;
}

.footer-container {
    background-color: black;
    width: 100vw;
}

.footer-container .white-text{
    font-size: 8px;
    line-height: 15px;
    padding: 15px 5px 15px 0;
}

.logo-link{
    width: 25px;
}
/* footer */
